.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
  gap: 28px 18px;
  width: 100%;
}

@media (min-width: 480px) {
  .book-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 32px 22px;
  }
}

@media (min-width: 700px) {
  .book-list {
    grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
    gap: 36px 24px;
  }
}

@media (min-width: 1000px) {
  .book-list {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 40px 28px;
  }
}
